<div class="login-container">
  <h2>Iniciar sesión</h2>

  <form (ngSubmit)="callLogin()" class="login-form">
    <!-- Campo Usuario -->
    <div class="input-group">
      <span class="input-icon"><i class="fas fa-user"></i></span>
      <input type="text" id="username" [(ngModel)]="username" name="username" required placeholder="Correo o usuario" />
    </div>

    <!-- Campo Contraseña -->
    <div class="input-group">
      <span class="input-icon"><i class="fas fa-lock"></i></span>
      <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Contraseña" />
    </div>

    <!-- Botón de Enviar -->
    <button type="submit" class="login-btn">Iniciar sesión</button>
  </form>

  <div class="signup-link">
    <p>¿No tienes cuenta? <a routerLink="/new-user">Crear una</a></p>
  </div>
</div>
