<div class="container">
  <header class="header">
    <div class="logo-container">
       <h1>SoccerHub⚽</h1>
    </div>
    <button (click)="cerrarSesion()" class="logout-button">Cerrar sesión</button>
  </header>

  <section class="tweet-box">
  <textarea [(ngModel)]="tweetText" placeholder="Publica un tweet de algún Futbolista" class="tweet-textarea"></textarea>
  <p class="char-count">{{ tweetText.length }} / 400</p> <!-- Muestra el contador de caracteres -->
  <button (click)="addTweet()" class="tweet-button" [disabled]="tweetText.length > 400">Tweet</button> <!-- Desactiva el botón si se exceden los 400 caracteres -->
</section>


  <div>
  <section class="tweet-list">
    <div *ngFor="let tweet of tweets" class="tweet-card">
      <div class="tweet-header">
        <p class="username"><strong> Publicado por {{ tweet.username }}</strong></p>
        <p class="date">{{ tweet.fechaCreacion | date: 'short' }}</p>
              <button *ngIf="isTweetOwner(tweet.id) || isAdmin()" (click)="deleteTweet(tweet.id)" class="delete-tweet-btn">🗑</button>

      </div>
 
      <p class="content">{{ tweet.contenido }}</p>

      <!-- Botones de reacciones-->
    <div class="reacciones">
  <button 
    (click)="addReaction(tweet.id, 'LIKE')" 
    class="reaction-btn" 
    [ngClass]="{ 'reaction-selected': selectedReactions[tweet.id] === 'LIKE' }">
    👍 Like
  </button>

  <button 
    (click)="addReaction(tweet.id, 'LOVE')" 
    class="reaction-btn" 
    [ngClass]="{ 'reaction-selected': selectedReactions[tweet.id] === 'LOVE' }">
    ❤️ Love
  </button>

  <button 
    (click)="addReaction(tweet.id, 'SAD')" 
    class="reaction-btn" 
    [ngClass]="{ 'reaction-selected': selectedReactions[tweet.id] === 'SAD' }">
    😢 Sad
  </button>

  <button 
    (click)="addReaction(tweet.id, 'ANGRY')" 
    class="reaction-btn" 
    [ngClass]="{ 'reaction-selected': selectedReactions[tweet.id] === 'ANGRY' }">
    😡 Angry
  </button>

  <button 
    (click)="addReaction(tweet.id, 'GOAT')" 
    class="reaction-btn" 
    [ngClass]="{ 'reaction-selected': selectedReactions[tweet.id] === 'GOAT' }">
    🐐 GOAT
  </button>
</div>

       
      <!-- Botón para mostrar/ocultar los comentarios -->
      <button (click)="toggleComments(tweet.id)" *ngIf="commentsVisibility[tweet.id] === undefined || commentsVisibility[tweet.id]" class="toggle-comments-btn">
        Ver comentarios👀
      </button>
      <button (click)="toggleComments(tweet.id)" *ngIf="commentsVisibility[tweet.id] === false" class="toggle-comments-btn">
        Ocultar comentarios
      </button>

      <!-- Mostrar comentarios solo si commentsVisibility[tweet.id] es true -->
      <div *ngIf="commentsVisibility[tweet.id]" class="comentarios-list">
        <div *ngFor="let comentario of comments[tweet.id]" class="comentario">
          <div class="comentario-header">
            <strong>{{ comentario.autor }}</strong> 
            <span class="fecha">{{ comentario.fechaCreacion | date: 'short' }}</span>
          </div>
            <p class="comentario-texto">{{ comentario.texto }}</p>
        </div>
      </div>

      <!-- Formulario para agregar comentario -->
      <div class="comentario-form">
        <textarea [(ngModel)]="commentText[tweet.id]" placeholder="Escribe tu comentario..." rows="3"></textarea>
        <button (click)="addComment(tweet.id)">Comentar</button>
      </div>

      <div class="comentarios-separator"></div>
    </div>

    <div #scrollAnchor></div>
    <p *ngIf="loading" class="loading">Cargando más tweets...</p>
  </section>
  

  <footer class="footer">by aldair</footer>

  
</div>
 